
.navbar {
    background-color: rgb(255, 246, 230);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px 15px;
    border-style: none none dotted none;
    border-width: 3px;
    border-color: rgb(58, 58, 58);
}

.projectbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0px 15px;
    margin-right: auto;
}

.navbar .socialbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar .sociallink {
    color: rgb(50, 50, 50);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.navbar .underline{
    text-decoration: none;
    transition: color 0.1s ease;
}

.navbar .underline:hover {
    color:rgb(113, 125, 35);
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-family: "Courier Prime", monospace;
}

.navbar .logo {
    position: relative;
    text-decoration: none;
    transition: color 0.19s ease;
    color: rgb(50, 50, 50);
    font-family: "Courier Prime", monospace;
    font-size: 22px;
    font-weight:bolder;
}

.navbar .logo:hover{
    color: rgb(113, 125, 35);
}

.navbar .socialicon {
  /* This pushes it to the right */
  display: flex;
  align-items: center;
  color: #34373a;
}

.navbar .blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.project {
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 1px 2px 1px 2px;
    color: inherit;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgb(155, 136, 165);
    border-radius: 2px;
    transition: transform 0.2s ease, background 0.2s ease, width 0.3s ease;
    z-index: -1;
}

.project:hover::before {
    width: 100%;
}

