@layer base {
  body,
  :host {
    /* Color */
    --grey-50: #fafafa;
    --grey-100: #f5f5f5;
    --grey-200: #e5e5e5;
    --grey-300: #d4d4d4;
    --grey-400: #a3a3a3;
    --grey-500: #737373;
    --grey-600: #525252;
    --grey-700: #404040;
    --grey-800: #262626;
    --grey-900: #171717;
    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --blue-50: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --lime-50: #f7fee7;
    --lime-100: #ecfccb;
    --lime-200: #d9f99d;
    --lime-300: #bef264;
    --lime-400: #a3e635;
    --lime-500: #84cc16;
    --lime-600: #65a30d;
    --lime-700: #4d7c0f;
    --lime-800: #3f6212;
    --lime-900: #365314;
    --pink-50: #fdf2f8;
    --pink-100: #fce7f3;
    --pink-200: #fbcfe8;
    --pink-300: #f9a8d4;
    --pink-400: #f472b6;
    --pink-500: #ec4899;
    --pink-600: #db2777;
    --pink-700: #be185d;
    --pink-800: #9d174d;
    --pink-900: #831843;
    --teal-50: #f0fdfa;
    --teal-100: #ccfbf1;
    --teal-200: #99f6e4;
    --teal-300: #5eead4;
    --teal-400: #2dd4bf;
    --teal-500: #14b8a6;
    --teal-600: #0d9488;
    --teal-700: #0f766e;
    --teal-800: #115e59;
    --teal-900: #134e4a;
    --green-50: #ecfdf5;
    --green-100: #d1fae5;
    --green-200: #a7f3d0;
    --green-300: #6ee7b7;
    --green-400: #34d399;
    --green-500: #10b981;
    --green-600: #059669;
    --green-700: #047857;
    --green-800: #065f46;
    --green-900: #064e3b;
    --purple-50: #f5f3ff;
    --purple-100: #ede9fe;
    --purple-200: #ddd6fe;
    --purple-300: #c4b5fd;
    --purple-400: #a78bfa;
    --purple-500: #8b5cf6;
    --purple-600: #7c3aed;
    --purple-700: #6d28d9;
    --purple-800: #5b21b6;
    --purple-900: #4c1d95;
    --yellow-50: #fffbeb;
    --yellow-100: #fef3c7;
    --yellow-200: #fde68a;
    --yellow-300: #fcd34d;
    --yellow-400: #fbbf24;
    --yellow-500: #f59e0b;
    --yellow-600: #d97706;
    --yellow-700: #b45309;
    --yellow-800: #92400e;
    --yellow-900: #78350f;
    /* Fonts */
    --font-sans: "Inter", sans-serif;

    /* Font size */
    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    /* Font weight */
    --font-weight-thin: 100;
    --font-weight-lighter: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-bolder: 800;
    --font-weight-black: 900;
    /* Shadows */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.25),
      0 1px 2px 0 rgba(0, 0, 0, 0.25);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.25),
      0 2px 4px -1px rgba(0, 0, 0, 0.25);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.25),
      0 4px 6px -2px rgba(0, 0, 0, 0.25);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.25),
      0 10px 10px -5px rgba(0, 0, 0, 0.25);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    /* Border radius */

    /* Spacing */

    /* Z-index */
  }
  @keyframes animation-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes animation-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes animation-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.cTYjuh {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-900);
}

.dpnSkK {
  color: var(--grey-50, #fafafa);
  width: 2rem;
  height: 2rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  border-radius: 20rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--grey-700, #404040);
}

.cIZqEV {
  gap: 0.5rem;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.esgxeo {
  gap: 1rem;
  margin-top: 3rem;
}

.QAUMV {
  color: var(--grey-50, #fafafa);
  width: 3rem;
  height: 3rem;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: var(--grey-700, #404040);
}

.feOJqg {
  color: var(--grey-700, #404040);
  font-size: 1rem;
  font-weight: var(--font-weight-semi-bold);
}

.bklKKu {
  width: 100%;
  min-height: 100%;
  align-items: start;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: row;
  padding-bottom: 6rem;
  justify-content: center;
  background-color: #f2f2f2;
}

.cPDZZd {
  gap: 2rem;
  flex: 1;
  flex-wrap: wrap;
  min-width: 48%;
  box-shadow: 0px 4px 8px 0px #0000001a;
  align-items: start;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: start;
  background-color: var(--grey-50, #fafafa);
}

.bZvNJX {
  color: var(--grey-700, #404040);
  width: 100%;
  font-size: 0.875rem;
  margin-top: 1rem;
  align-items: center;
  font-weight: var(--font-weight-regular);
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 20rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background-color: var(--grey-200, #e5e5e5);
}

.bZvNJX:hover {
  color: var(--grey-50, #fafafa);
  background-color: var(--grey-700, #404040);
}

.bZvNJX:focus-visible {
  outline-color: var(--blue-600, #2563eb);
  outline-style: solid;
  outline-width: 1px;
}

@media (min-width: 960px) {
  .bZvNJX {
    width: fit-content;
  }
}

.eMamiT {
  gap: 2rem;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.cNMCCz {
  color: var(--grey-700, #404040);
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.25rem;
}

.qaQEm {
  color: var(--grey-700, #404040);
  display: flex;
  font-size: 0.875rem;
  align-items: start;
  font-weight: var(--font-weight-regular);
  flex-direction: column;
  justify-content: center;
}

.dgEYfd {
  color: var(--grey-700, #404040);
  width: 100%;
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--grey-200, #e5e5e5);
}

.dgEYfd:focus {
  outline-color: var(--blue-600, #2563eb);
  outline-style: solid;
  outline-width: 1px;
}

.ZcXvr {
  gap: 1rem;
  color: var(--grey-100, #f5f5f5);
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: center;
  background-color: var(--grey-700, #404040);
}

.fzJspT {
  gap: 2rem;
  width: 100%;
  max-width: 1024px;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}

.bJtNrp {
  gap: 1rem;
  flex: 1;
  min-width: 12rem;
  box-shadow: 0px 4px 8px 0px #0000001a;
  align-items: start;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: start;
  background-color: var(--grey-50, #fafafa);
}

.eDrEkh {
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}

.ezemuP {
  color: var(--grey-700, #404040);
  font-size: 2.25rem;
  margin-top: 2rem;
  font-weight: var(--font-weight-bold);
}

.eMVtli {
  color: var(--grey-700, #404040);
  font-size: 0.875rem;
  align-items: center;
  font-weight: var(--font-weight-regular);
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 20rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background-color: var(--grey-200, #e5e5e5);
}

.eMVtli:hover {
  color: var(--grey-50, #fafafa);
  background-color: var(--grey-700, #404040);
}

.eMVtli:focus-visible {
  outline-color: var(--blue-600, #2563eb);
  outline-style: solid;
  outline-width: 1px;
}

.oIOa-D {
  color: var(--grey-700, #404040);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

.eGEOgr {
  color: var(--grey-700, #404040);
  display: flex;
  font-size: 1rem;
  align-items: start;
  font-weight: var(--font-weight-semi-bold);
  flex-direction: column;
  justify-content: center;
}

.dmeQTs {
  color: var(--grey-700, #404040);
  width: 100%;
  font-size: 1rem;
  align-items: center;
  font-weight: var(--font-weight-regular);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.egrYDn {
  color: var(--grey-700, #404040);
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: var(--font-weight-semi-bold);
}

.dhgKvc {
  color: var(--grey-700, #404040);
  width: 100%;
  font-size: 1rem;
  align-items: center;
  font-weight: var(--font-weight-regular);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom-color: var(--grey-200, #e5e5e5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bIWsZf {
  flex-wrap: wrap;
  align-items: center;
  font-weight: var(--font-weight-regular);
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  border-bottom-color: var(--grey-200, #e5e5e5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bkjyIq {
  gap: 1.5rem;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.emrFNN {
  gap: 0.25rem;
}

.dmivgQ {
  color: var(--grey-700, #404040);
  width: 100%;
  font-size: 0.875rem;
  margin-top: 1rem;
  align-items: center;
  font-weight: var(--font-weight-regular);
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 20rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background-color: var(--grey-200, #e5e5e5);
}

.dmivgQ:hover {
  color: var(--grey-50, #fafafa);
  background-color: var(--grey-700, #404040);
}

.dmivgQ:focus-visible {
  outline-color: var(--blue-600, #2563eb);
  outline-style: solid;
  outline-width: 1px;
}

@media (min-width: 960px) {
  .dmivgQ {
    width: fit-content;
    outline-color: #ffffff;
    outline-style: solid;
    outline-width: 2px;
  }
}

.cmDheQ {
  width: 100%;
  align-items: start;
  justify-content: start;
}

.cTaYaR {
  gap: 1rem;
}

.cNePmv {
  color: var(--grey-50, #fafafa);
  width: fit-content;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: var(--font-weight-semi-bold);
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--grey-700, #404040);
}

.cNePmv:hover {
  background-color: var(--grey-600, #525252);
}

.cNePmv:focus-visible {
  outline-color: var(--blue-600, #2563eb);
  outline-style: solid;
  outline-width: 1px;
}

.YcaKc {
  flex: 1;
  min-width: 240px;
  box-shadow: 0px 4px 8px 0px #0000001a;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--grey-50, #fafafa);
}

.cCYXsI {
  width: 100%;
}

.fqnoCb {
  flex-wrap: wrap;
  align-items: center;
  font-weight: var(--font-weight-regular);
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
  padding-bottom: 1.5rem;
  justify-content: space-between;
}

.fzBygg {
  color: #6c6c6c;
  display: inline-block;
}

.fjvqrH {
  gap: 1.5rem;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.bNPvVU {
  color: var(--grey-50, #fafafa);
  display: inline-block;
  max-width: 100%;
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
  white-space: normal;
}
