<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-about">
      <h3>About Me</h3>
      <p>I’m passionate about diverse fields, juggling projects in programming, education, art, and psychology. My goal is to blend these unique areas to create innovative educational solutions.</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Colaborate</a></li>
        <br>
        <li><a href="vizysound">Vizysound</a></li>
        <li><a href="expressmpeg">ExpressMpeg</a></li>
        <li><a href="lambda_curse">Lambda_Curse</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contact</h3>
      <p>Email: jmtalec@gmail.com</p>
      <p>Phone: +33 6 70 36 94 48</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {% now "Y" %} Jean Moïse TALEC. All rights reserved.</p>
  </div>
</footer>
