{% extends "main.html" %} {% block head %}
{% include 'glass-distortion.html' %}
<link href="/static/css/home.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/glass.css" />
{% endblock head %} {% block content %}

<div>
  <section style="background-color: #e3e3e3; padding: 60px 200px 60px 200px">
    <div
      class="dotted_background"
      style="border-radius: 150px; background-color: #222b0d"
    >
      <div></div>
      <div style="display: flex; justify-content: center">
        <div
          class="glassDiv"
          style="
            justify-content: center;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
          "
        >
          <img width="150px" height="150px" src="/static/img/logo_moose.png" />
          <h1>JMTAL</h1>
          <h2>A collection of coding projects</h2>
        </div>
      </div>
    </div>
  </section>

  <div>
    <h1></h1>
    <h2></h2>
    <div class="row">
      {% for project in projects%}
      <div class="column">
        <article>
          <h1>{{ project.title }}</h1>
          <img src="{{ project.image }}" />
          <p>{{ project.description }}</p>
          <a href="{% url project.url %}"> View Project </a>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="layered-steps">
    <h1></h1>
    <p></p>
  </div>

  <div>
    <form>
      <h1></h1>
      <ul>
        <dd><h2></h2></dd>
        <dd><input /></dd>
        <dd><h2></h2></dd>
        <dd><input /></dd>
      </ul>
      <button></button>
    </form>
  </div>
</div>

{% endblock content %}
