.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}


article {
    background-color: gray;
}

* {
  box-sizing: border-box;
}

.dotted_background {
  padding: 93px 0 93px 0;
  background-image: url("/static/svg/background.svg");
  background-repeat: repeat-x;
}